<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-qWgO9Pzc0ANtLShm2N3eBF25oE2c20k</string>
	<key>GCM_SENDER_ID</key>
	<string>72993655391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uni.recycle</string>
	<key>PROJECT_ID</key>
	<string>recycle-ed01a</string>
	<key>STORAGE_BUCKET</key>
	<string>recycle-ed01a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72993655391:ios:2baee34533ebc081d6a9ea</string>
</dict>
</plist>